.button {
    width: 240px;
    height: 60px;
    background-color: #ff960f;
    border: 3px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 25px;
    margin-top: 20px;
}

.button:first-child {
    margin-top: 0;
}

.text {
    z-index: 1;
}

.leftAngle {
    width: 30px;
    height: 60px;
    background-color: #ff960f;
    border: 3px solid black;
    border-right: none;
    transform: skew(25deg);
    position: absolute;
    top: -2px;
    left: -16px;
}

.rightAngle {
    width: 30px;
    height: 60px;
    background-color: #ff960f;
    border: 3px solid black;
    border-left: none;
    transform: skew(-25deg);
    position: absolute;
    top: -2px;
    right: -16px;
}