.container {
    border: 3px solid #facb7d;
    flex: 1 1 0;
    max-width: 670px;
    max-height: 630px;
    padding: 3px;
    background-color: transparent;
    display: flex;
}

.iframe {
    flex: 1 1 0;
    outline: none;
    border: none;
}