.container {
    position: relative;
    z-index: 1;
    height: 4px;
    background-color: #b1b5c0;
    transform-origin: left center;
}

.container:last-child:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 10px solid #b1b5c0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(2px, -50%);
}

.container__top {
    transform: rotate(-90deg);
}

.container__bottom {
    transform: rotate(90deg);
}

.container__left {
    transform: rotate(-180deg);
}

.description {
    font-size: 20px;
    white-space: nowrap;
}

.container__left .description {
    position: absolute;
    top: 3px;
    left: 5px;
    transform: rotate(180deg);
}

.container__bottom .description {
    position: absolute;
    top: 100%;
    right: 100%;
    transform-origin: right top;
    transform: rotate(-90deg) translate(-3px, 0px);
}

.container__top .description {
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: left center;
    transform: rotate(90deg) translate(-100%, -50%);
}

.container__right .description {
    position: absolute;
    bottom: 3px;
    left: 5px;
}