.schemaContainer {
    margin-top: 60px;
}

.media {
    margin-left: 30px;
    flex: 1 1 0;
    border: 2px solid #ffd25e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.content {
    margin-top: 10px;
    flex: 1 1;
    display: flex;
    height: 0;
    margin-bottom: 110px;
    position: relative;
    width: calc(100% - 30px);
    justify-content: flex-start;
    overflow: visible;
}
