.container {
    transition: all 0.5s ease-out;
    position: fixed;
    left: 50px;
    bottom: -130px;
    z-index: 9;
    height: 514px;
    width: 334px;
}

.container__opened {
    bottom: 0;
}

.alien {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 183px;
    cursor: pointer;
}

.dialog {
    transition: all 0.5s ease-out;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    width: 317px;
    height: 309px;
    background-repeat: no-repeat;
    background-size: contain;
}

.dialog__opened {
    opacity: 1;
}

.text {
    background: transparent;
    position: absolute;
    top: 34px;
    left: 57px;
    width: 185px;
    height: 169px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
