.container {
    position: fixed;
    left: 50px;
    bottom: 0;
    z-index: 9;
}

.container__opened {
    bottom: 0;
}

.alien {
    transition: all 0.5s ease-out;
    position: absolute;
    top: -50px;
    left: 0;
    width: 150px;
    height: 183px;
    cursor: pointer;
    overflow: hidden;
}

/*.alien:hover {*/
/*    top: -183px;*/
/*}*/

.alien__clicked {
    overflow: visible;
    top: -183px;
}

.dialog {
    transition: all 0.5s ease-out;
    position: absolute;
    opacity: 0;
    top: -320px;
    right: -186px;
    width: 317px;
    height: 309px;
    background-repeat: no-repeat;
    background-size: contain;
}

.dialog__opened {
    opacity: 1;
}

.text {
    background: transparent;
    position: absolute;
    top: 34px;
    left: 57px;
    width: 185px;
    height: 169px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
