.container {
    display: flex;
    margin-top: 10px;
}

.container:first-child {
    margin-top: 0;
}

.check {
    min-width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: transparent;
    position: relative;
}

.check__checked:after {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12px;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.text {
    margin-top: 5px;
    margin-left: 7px;
    font-size: 20px;
}