.container {
    flex: 1 1 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}

.header {
    color: white;
    font-size: 60px;
    margin: 15px 0 10px;
    font-weight: 100;
}

.content {
    flex: 1 1 0;
    width: calc(100% - 60px);
    max-height: calc(100% - 185px);
    display: flex;
    margin-bottom: 90px;
}

.navButtonNextContainer {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.navButtonPrevContainer {
    position: absolute;
    top: 15px;
    left: 15px;
}
