.container {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.header {
    color: white;
    font-size: 60px;
    margin-bottom: 50px;
    font-weight: 100;
}

.navButtonContainer {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
