.container {
    height: 100%;
    width: 100%;
}

.listContainer {
    width: 100%;
    height: calc(100% - 103px);
    display: flex;
    align-items: center;
}

.listWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    font-size: 30px;
}

.listRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.listRow:last-child {
    margin-bottom: 0;
}

.navWrapper {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalWrapper {
    position: fixed;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalMain {
    position: relative;
    z-index: 1;
    width: 50%;
    height: 50%;
    border: 2px solid #ffd25e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    font-size: 30px;
    padding: 30px;
    background-color: #ff960f;
}

.modalContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
}
