.container {
    width: 320px;
    height: 180px;
    /*margin-right: 60px;*/
    /*margin-bottom: 60px;*/
    border: 2px solid #ffd25e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    font-size: 20px;
    cursor: pointer;
    transition: background-color ease .3s;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: black;
}

.container:hover {
    background-color: rgba(0, 0, 0, .3);
}

.video {
    background-color: black;
}
