.container {
    min-width: 900px;
    width: 900px;
    border: 2px solid #fcc573;
    padding: 2px;
    background-color: transparent;
    display: flex;
}

.code {
    height: 100%;
    width: 60%;
    background-color: #6e0116;
    padding: 35px;
    overflow: auto;
}

.media {
    flex: 1 1 0;
    margin-left: 1px;
    background-color: #9e9e9e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.codeLine {
    color: white;
    font-size: 35px;
    margin-top: 20px;
}

.codeLine:first-child {
    margin-top: 0;
}

.subLineContainer {
    margin-left: 50px;
    margin-top: 20px;
}
